body{
  background-color: #bec6c7;
  margin: 0;
}

textarea{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /*padding-bottom: 20px;*/
}

.main-block{
  width: 1000px;
  height: 100%;
  background-color: #ffffff;
}
.header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
      .header-sidebar{
        max-width: 300px;
        width: 30%;
        height: 100%;
        /*background-color: #546e7a;*/
        position: relative;
      }
        .header-sidebar-block{
          display: flex;
          transition: 200ms;
          width: 100%;
          height: 100%;
          background-color: #546e7a;
        }
        .header-sidebar-block:hover{
          background-color: #29434e;
        }
            .header-sidebar-block-menu{
              width: 60px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
              .header-sidebar-block-menu-lines{}
                .header-sidebar-block-menu-line{
                  width: 20px;
                  height: 3px;
                  background-color: white;
                  margin: 3px 0;
                }
            .header-sidebar-block-company{
              width: calc(100% - 60px);
              height: 100%;
              line-height: 60px;
              padding-left: 10%;
              color: white;
              text-align: left;
              font-weight: 700;
            }
        .header-sidebar-down{
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          z-index: 2;
          box-shadow: 3px 3px 10px 2px rgba(0,0,0,.5);
          padding-top: 10px;
          background-color: white;
        }
          .header-sidebar-down-block{
            width: 100%;
            height: 50px;
            display: flex;
            cursor: pointer;
          }
          .header-sidebar-down-block:hover{
            background: rgba(129, 156, 169, .5);
          }
            .header-sidebar-down-block-icon{
              width: 60px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
              .header-sidebar-down-block-icon img {height: 20px}
            .header-sidebar-down-block-text{
              width: calc(100% - 60px);
              height: 100%;
              line-height: 50px;
              padding-left: 10%;
              color: #546e7a;
              font-size: 14px
            }
      .header-name{
        width: calc(70% - 120px);
        background-color: #546e7a;
        transition: 200ms;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
      }
        .header-name-person{
          height: 60px;
          color: white;
          font-weight: 700;
          font-size: 14px;
          line-height: 60px;
          margin: 0 5%;
        }
        .header-name-index{
          height: 60px;
          color: white;
          font-size: 14px;
          line-height: 60px;
          opacity: .5;
        }
      .header-search{
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #546e7a;
        transition: 200ms;
      }
      .header-settings{
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #546e7a;
        transition: 200ms;
        position: relative;
        cursor: pointer;
      }
        .header-settings-circles{

        }
          .header-settings-circle{
            width: 5px;
            height: 5px;
            border-radius: 3px;
            background-color: white;
            margin: 3px 0;
          }
        .header-settings-down{
          position: absolute;
          right: 0;
          top: 60px;
          width: 200px;
          background-color: white;
          z-index: 2;
          box-shadow: 3px 3px 10px 2px rgba(0,0,0,.5);
          padding-top: 10px;
        }
          .header-settings-down-block{
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding-left: 10%;
            color: #546e7a;
            font-size: 14px;
            box-sizing: border-box;
          }
          .header-settings-down-block:hover{
            background: rgba(129, 156, 169, .5);
          }

      .header-settings:hover{
        background-color: #29434e;
      }
      .header-search:hover{
        background-color: #29434e;
      }
      .header-name:hover{
        background-color: #29434e;
      }

.downsection-maincontent{
  width: 70%;
  height: 100%;
  position: relative;
}
  .downsection-maincontent-messageblock{
    width: 100%;
    height: 100%;
  }
    .messageblock{
      height: calc(100% - 160px);
      /*overflow-y: scroll;*/
    }
      .messageblock > div {
        width: 100%;
        margin-top: 20px;
      }
.messageblock::-webkit-scrollbar-track
{
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

.messageblock::-webkit-scrollbar
{
  width: 2px;
  background: rgba(0, 0, 0, 0);
}

.messageblock::-webkit-scrollbar-thumb
{
  background-color: #6079bb;
}


