.message{
  width: 100%;
  display: flex;
  transition: 500ms;
}
.message:hover{
  background: rgba(129, 156, 169, .4);
}
.message:hover .message-check-icon{
  opacity: 1;
}
  .message-check{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .message-check-icon{
      opacity: 0;
      transition: 500ms;
      width: 26px;
      height: 26px;
    }
  .message-text{
    width: 80%;
  }
    .message-text-contact{
      width: 100%;
      /*height: 60px;*/
      cursor: pointer;
      display: flex;
      position: relative;
      transition: 200ms;
    }
      .message-text-contact-icon{
        width: 20%;
        height: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .message-text-contact-icon-circle{
          width: 46px;
          height: 46px;
          /*margin-top: 12px;*/
          border-radius: 23px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      .message-text-contact-info{
        width: 80%;
        height: 100%;
      }
        .message-text-contact-info-person{
          width: 100%;
          height: 30px;
          line-height: 40px;
          color: black;
          font-size: 12px;
          font-weight: 700;
          text-align: left;
        }
        .message-text-contact-info-message{
          width: 100%;
          min-height: 30px;
          line-height: 30px;
          color: black;
          font-size: 12px;
          text-align: left;
          overflow-x: hidden;
          overflow-y: hidden;
          transition: 400ms;
        }
      /*.downsection-maincontent-messageblock-message-text-contact-info-message:hover {*/
      /*background: rgba(129, 156, 169, .4);*/
      /*}*/
      .message-text-contact-time{
        position: absolute;
        top: 5px;
        right: -24px;
        font-size: 10px;
        color: #6c6c6c;
      }
