body{
  background-color: #bec6c7;
  margin: 0;
}

.section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /*padding-bottom: 20px;*/
}

.main-block{
  width: 1000px;
  height: 100%;
  background-color: #ffffff;
}
.header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
      .header-sidebar{
        max-width: 300px;
        width: 30%;
        height: 100%;
        display: flex;
        background-color: #7594e3;
        transition: 200ms;
      }
            .header-sidebar-menu{
              width: 60px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
              .header-sidebar-menu-lines{

              }
                .header-sidebar-menu-line{
                    width: 20px;
                  height: 3px;
                  background-color: white;
                  margin: 3px 0;
                }
            .header-sidebar-company{
              width: calc(100% - 60px);
              height: 100%;
              line-height: 60px;
              padding-left: 10%;
              color: white;
              text-align: left;
              font-weight: 700;
            }
      .header-name{
        width: calc(70% - 120px);
        background-color: #7594e3;
        transition: 200ms;
        display: flex;
        justify-content: flex-start;
      }
        .header-name-person{
          height: 60px;
          color: white;
          font-weight: 700;
          font-size: 14px;
          line-height: 60px;
          margin: 0 5%;
        }
        .header-name-index{
          height: 60px;
          color: white;
          font-size: 14px;
          line-height: 60px;
          opacity: .5;
        }
      .header-search{
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7594e3;
        transition: 200ms;
      }
      .header-settings{
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7594e3;
        transition: 200ms;
      }
        .header-settings-circles{

        }
          .header-settings-circle{
            width: 5px;
            height: 5px;
            border-radius: 3px;
            background-color: white;
            margin: 3px 0;
          }

      .header-settings:hover{
        background-color: #6079bb;
      }
      .header-search:hover{
        background-color: #6079bb;
      }
      .header-sidebar:hover{
        background-color: #6079bb;
      }
      .header-name:hover{
        background-color: #6079bb;
      }

.downsection{
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
}
  .downsection-sidebar{
    width: 30%;
    height: 100%;
    border-right: 1px solid #b8b8b8;
    overflow-y: scroll;
  }
.downsection-sidebar::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 10px;
  /*background-color: #F5F5F5;*/
  background: rgba(0, 0, 0, 0);
}

.downsection-sidebar::-webkit-scrollbar
{
  width: 2px;
  /*background-color: #F5F5F5;*/
  background: rgba(0, 0, 0, 0);
}

.downsection-sidebar::-webkit-scrollbar-thumb
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #6079bb;
}
    .downsection-sidebar-search{
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 5%;
      box-sizing: border-box;
    }
      .downsection-sidebar-search-inputblock{
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 3px;
        background: rgba(0, 0, 0, .1);
        display: flex;
      }
        .downsection-sidebar-search-inputblock-img{
          width: 40px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }
        .downsection-sidebar-search-inputblock-input{
          width: 100%;
          height: 100%;
          outline: none;
          background: rgba(0, 0, 0, 0);
          color: #6c6c6c;
          border: none;
        }
    .downsection-sidebar-contacts{
      width: 100%;
    }
      .downsection-sidebar-contact{
        width: 100%;
        height: 60px;
        cursor: pointer;
        display: flex;
        position: relative;
        transition: 200ms;
      }
        .downsection-sidebar-contact-icon{
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
          .downsection-sidebar-contact-icon-circle{
            width: 46px;
            height: 46px;
            border-radius: 23px;
            background-color: rebeccapurple;
          }
        .downsection-sidebar-contact-info{
          width: 70%;
          height: 100%;
        }
          .downsection-sidebar-contact-info-person{
            width: 100%;
            height: 30px;
            line-height: 40px;
            color: black;
            font-size: 12px;
            font-weight: 700;
            text-align: left;
          }
          .downsection-sidebar-contact-info-message{
            width: 100%;
            height: 30px;
            line-height: 30px;
            color: black;
            font-size: 12px;
            text-align: left;
            overflow-y: hidden;
            overflow-x: hidden;
          }
        .downsection-sidebar-contact-time{
          position: absolute;
          top: 5px;
          right: 10px;
          font-size: 10px;
          color: #6c6c6c;
        }
      .downsection-sidebar-contact:hover {
        background: rgba(112, 146, 234, .2);
      }

.downsection-maincontent{
  width: 70%;
  height: 100%;
  position: relative;
}
  .downsection-maincontent-messageblock{
    width: 100%;
    /*height: calc(100% - 140px);*/
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    /*border: 1px solid black;*/
  }
/*.downsection-maincontent-messageblock::-webkit-scrollbar-track*/
/*{*/
  /*/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  /*border-radius: 10px;*/
  /*/*background-color: #F5F5F5;*/
  /*background: rgba(0, 0, 0, 0);*/
/*}*/

/*.downsection-maincontent-messageblock::-webkit-scrollbar*/
/*{*/
  /*width: 2px;*/
  /*/*background-color: #F5F5F5;*/
  /*background: rgba(0, 0, 0, 0);*/
/*}*/

/*.downsection-maincontent-messageblock::-webkit-scrollbar-thumb*/
/*{*/ /*/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  /*background-color: #6079bb;*/
/*}*/

  .downsection-maincontent-messageblock-bottom{
    width: 100%;
  }

    .downsection-maincontent-messageblock-message{
      width: 100%;
      display: flex;
    }
    .downsection-maincontent-messageblock-message:hover .downsection-maincontent-messageblock-message-check-icon{
      opacity: 1;
    }
      .downsection-maincontent-messageblock-message-check{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .downsection-maincontent-messageblock-message-check-icon{
          opacity: 0;
          transition: 500ms;
        }
      .downsection-maincontent-messageblock-message-text{
        width: 80%;
      }
        .downsection-maincontent-messageblock-message-text-contact{
          width: 100%;
          /*height: 60px;*/
          cursor: pointer;
          display: flex;
          position: relative;
          transition: 200ms;
        }
          .downsection-maincontent-messageblock-message-text-contact-icon{
            width: 20%;
            height: 100%;
            padding-top: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
            .downsection-maincontent-messageblock-message-text-contact-icon-circle{
              width: 46px;
              height: 46px;
              /*margin-top: 12px;*/
              border-radius: 23px;
              background-color: rebeccapurple;
            }
          .downsection-maincontent-messageblock-message-text-contact-info{
            width: 80%;
            height: 100%;
          }
            .downsection-maincontent-messageblock-message-text-contact-info-person{
              width: 100%;
              height: 30px;
              line-height: 40px;
              color: black;
              font-size: 12px;
              font-weight: 700;
              text-align: left;
            }
            .downsection-maincontent-messageblock-message-text-contact-info-message{
              width: 100%;
              min-height: 30px;
              line-height: 30px;
              color: black;
              font-size: 12px;
              text-align: left;
              overflow-x: hidden;
            }
          .downsection-maincontent-messageblock-message-text-contact-time{
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 10px;
            color: #6c6c6c;
          }
  .downsection-maincontent-writeblock{
    width: 100%;
    min-height: 140px;
    /*position: absolute;*/
    /*bottom: 0;*/
    display: flex;
    justify-content: center;
  }
    .downsection-maincontent-writeblock-block{
      width: 80%;
      height: 100%;
      display: flex;
    }
      .downsection-maincontent-writeblock-block-icon{
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        box-sizing: border-box;
      }
        .downsection-maincontent-writeblock-block-icon-img{
          width: 50px;
          height: 50px;
          border-radius: 25px;
          background-color: crimson;
        }
      .downsection-maincontent-writeblock-block-keyboard{
        width: calc(100% - 160px);
        height: 100%;
      }
        .downsection-maincontent-writeblock-block-keyboard-write{
          width: 100%;
          min-height: 70px;
          border-bottom: 3px solid #7594e3;
          position: relative;
          display: flex;
          justify-content: flex-start;

        }
          .downsection-maincontent-writeblock-block-keyboard-write-input{
            width: calc(100% - 30px);
            min-height: 35px;
            outline: none;
            border: none;
            background: rgba(0, 0, 0, 0);
            color: #6c6c6c;
          }
          .downsection-maincontent-writeblock-block-keyboard-write-smile{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        .downsection-maincontent-writeblock-block-keyboard-buttons{
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          margin-bottom: 30px;
        }
          .downsection-maincontent-writeblock-block-keyboard-buttons-icon{
            width: 30px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .downsection-maincontent-writeblock-block-keyboard-buttons-mems{
            width: 50%;
            max-width: calc(100% - 150px);
            height: 100%;
          }
          .downsection-maincontent-writeblock-block-keyboard-buttons-send{
            width: 60px;
            height: 100%;
            color: #6079bb;
            text-transform: uppercase;
            line-height: 30px;
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;
          }

